<h3><%=@service.name%></h3>
<p><%=@service.detail%></p>
<p><%=@service.price%></p>
<p>Sold by: <%=@service.user.firstName%></p>

<% if (@service.user != current_user) %>
  <a href="/service/<%=@service.id%>/purchase">Purchase</a>
<% end %>
