%h2.col-md-6.col-md-offset-2.no-padding-left
  Rate #{@user.firstName} #{@user.lastName}
.login.col-md-6.col-md-offset-2.no-margin-top
  = form_for(@user) do |f|
    = f.label :rating, :class => "primrose_crimson"
    = f.select :rating, [1,2,3,4,5], :placeholder => "Rating"
    = f.hidden_field :user_id, :value => @user.id
    = f.hidden_field :user_service_id, :value => @user_service.id
    = f.submit "Save changes", class: "btn btn-default"
